# Password for protected pages/routes
PAGE_ACCESS_PASSWORD=password

# Demo video URLs used by project pages
NEXT_PUBLIC_GOLD_PRICE_PREDICTOR_VIDEO_URL=https://res.cloudinary.com/pap2diqo/video/upload/v1790685563/Enregistrement_de_l_%C3%A9cran_2026-09-29_133235.mp4
urlAIDocumentQ&A=https://res.cloudinary.com/pap2diqo/video/upload/v1790622617/Enregistrement_de_l_%C3%A9cran_2026-09-28_154842.mp4
urlgoldandsilver=https://res.cloudinary.com/pap2diqo/video/upload/v1790685563/Enregistrement_de_l_%C3%A9cran_2026-09-29_133235.mp4
datareportanalyserproject=https://res.cloudinary.com/pap2diqo/video/upload/v1790699487/Enregistrement_de_l_%C3%A9cran_2026-09-29_172806.mp4

# Project repositories and source notebooks
GITHUB_GOLD_PRICE_PREDICTOR_URL=https://github.com/dhia1128/Gold-silver-prediction-project-supervised-learning
GITHUB_DATA_REPORT_ANALYZER_URL=https://github.com/dhia1128/sales-data-reporter
GITHUB_AI_DOCUMENT_QA_URL=https://github.com/dhia1128/RAg
PNEUMONIA_DETECTION_NOTEBOOK_URL=https://www.kaggle.com/code/dhiaarfaoui/detecting-pneumonia-in-x-ray-images
GITHUB_LETTER_REFORMULATION_URL=https://github.com/dhia1128/api-de-reformulation-des-lettres
